body {
  font-family: brioso-pro-display, serif;
  font-weight: 800;
  font-style: normal;
  background-color: black;
}

.linea-blanca {
  border: none;
  height: 2px; 
  background-color: white; 
  margin: 20px 0; 
}